.bg-0F2D3C{
  background-color: #0F2D3C;
}
.color-0F2D3C{
  color: #0F2D3C;
}
.bg-C8D2D7 {
  background-color: #C8D2D7;
}
.color-C8D2D7 {
  color: #C8D2D7;
}

.bg-005546 {
  background-color: #005546;
}
.color-005546 {
  color: #005546;
}

.bg-1EBE91 {
  background-color: #1EBE91;
}
.color-1EBE91 {
  color: #1EBE91;
}

.bg-69D7B9 {
  background-color: #69D7B9;
}
.color-69D7B9 {
  color: #69D7B9;
}

